In [9]:
# prerequisite package imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

pokemon = pd.read_csv('./data/pokemon.csv')
pokemon.head()

,id,identifier,species_id,height,weight,base_experience,order,is_default
0,1,bulbasaur,1,7,69,64,1,1
1,2,ivysaur,2,10,130,142,2,1
2,3,venusaur,3,20,1000,236,3,1
3,4,charmander,4,6,85,62,5,1
4,5,charmeleon,5,11,190,142,6,1

In [7]:
pokemon = pd.read_csv('./data/pokemon.csv')
sb.countplot(data = pokeman, x = 'generation_id')

NameError: name 'pokeman' is not defined